{% extends 'index.html' %}
{% block content %}
<nav class="navbar bg-dark border-bottom border-body" style="height: 4rem;" data-bs-theme="dark">
    <div class="container">
        <div>
            <a href="{% url 'bookstore:home' %}" class="mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
              </svg></a>
            <a class="navbar-brand" href="#">Mero Cart</a>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h4>Cart Items:</h4>
    <div class="justify-content-center">
        {% for cart_item_id, book_values in cart.items %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{book_values.book_image}}" class="img-fluid rounded-start" alt="{{ book_values.title }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                        <h5 class="card-title">{{ book_values.title }}</h5>
                        <p class="card-text">Price:<small class="text-body-secondary">{{ book_values.price }}</small></p>
                        <p class="card-text">Quantity:<small class="text-body-secondary">{{ book_values.quantity }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form method="post" action="{% url 'bookstore:cart' %}">
        {% csrf_token %}
        <label for="coupon_id">Enter coupons: </label>
        <input type="text" placeholder="Enter coupons code" name="coupon" id="coupon_id" class="form-control">
        <input class="btn btn-success d-block mt-1" type="submit" value="Checkout">
    </form>
</div>
{%if msg %}
<script>
    alert("{{ msg }}");
</script>
{% endif %}
{% endblock %}